/* ---------- Estilo de Opciones ---------- */

/* ---------- Contenedores ---------- */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('sso.webp');
    background-size: 100% 110%;
}

.contenedor{ /* Contenedor principal */
    width: 1200px;
    height: 450px;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
}

.cabecera{ /* Cabecera */
    width: 1200px;
    height: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpoUp{ /*  Cuerpo */
    width: 1200px;
    height: auto;
}

.seccion1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion2{ 
    width: 1200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CuerpoDown{ /* Lista */
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buscador{
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/* ---------- Titulos y Texto ---------- */

h3{
    padding: 8px 80px 8px 80px;
    text-align: center;
    background: #626567;
    color: white;
}

/* ---------- Tabla ---------- */

.lD{
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #626567;
    text-align: center;
    width: 200px;
    height: 25px;
    font-family: bold;
}

.TablaP{
    border-spacing: 10px;
}

.Tabla{
    border-collapse: collapse;
    width: auto;
    height: auto;
    background-color: white;
    border: 2px solid black;
}

th{
    background: #626567; 
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 2px solid black;
    font-size: 15px;
}

.Lista{
    text-align: center;
    padding: 8px;
    border: 2px solid black;
    font-size: 12px;
}

/* ---------- Botones y hipervinculos ---------- */

.CE{
    width: 400px;
    height: 25px;
}

.BTR{   /* Boton Salir */
    text-decoration: none;
    background: #1F618D;
    color: white;
    text-align: center;
    width: 100px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    font-size: 15px;

}

.BTR:hover{
    background: #111;
}

.BTG{
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    font-weight:bold;
    color: #FFFFFF;
    background: #1F618D;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    float: right;
    cursor: pointer;
}

.BTG:hover{
    background: #111;
}

.ME{  /* Modificar/Eliminar */
    text-decoration: none;
    background: #000000;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5%;
}

.ME:hover{
    background: #1F618D;
    border-radius: 5px;
}

.btn_buscar{ /* Input buscar */
    padding: 10px 30px;
    font-family: bold;
    border-radius: 10px;
    font-size: 15px;
}

.btn_regresar{ /* Boton regresar/incial */
    background: #1F618D;
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    font-family: bold;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.btn_regresar:hover{
    background: #111;
}

